* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
  font-family: "Poppins", sans-serif;
}
.brdr {
  border: 1px solid red;
}
.container {
  max-width: 1600px;
  margin: auto;
  padding: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}
.navbar .nav-links {
  display: flex;
  gap: 20px;
}
.navbar .nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}
.navbar .cta-button {
  text-decoration: none;
  background-color: #ffffff28;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}
.title {
  color: #fff;
  font-size: 10.5rem;
  font-weight: 600;
  text-align: center;
}
.categories {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.categories p {
  background-color: #ffffff28;
  padding: 12px 25px;
  border-radius: 25px;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
.categories p.active {
  background-color: #ea4531;
  color: #fff;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px 0;
}
.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card .up {
  width: 100%;
  background-color: #ffffff28;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.card .up img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card .down {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.card .down .card-category {
  background-color: #ea433157;
  color: #ea4531;
  font-size: 1.2rem;
  font-weight: 500;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
}
.card h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
}
.card .date {
  color: #7e7e7e;
  font-size: 1.1rem;
  font-weight: 500;
}
