* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  color: white;
  font-family: "Poppins", sans-serif;
  background:
    radial-gradient(
      ellipse at bottom left,
      rgba(255, 0, 98, 0.8) 0%,
      rgba(255, 0, 98, 0.3) 35%,
      transparent 65%
    ),
    radial-gradient(
      ellipse at top right,
      rgba(106, 13, 173, 0.7) 0%,
      rgba(106, 13, 173, 0.25) 40%,
      transparent 70%
    ),
    #140812;
  background-repeat: no-repeat !important;
}
.squid {
  text-transform: uppercase;
  color: #ffffff4d;
  font-size: 10rem;
  font-weight: 600;
  position: fixed;
  top: 250px;
  right: -230px;
  rotate: -90deg;
  line-height: 1;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 140px;
}
.logo {
  width: 100px;
}
.nav-links {
  display: flex;
  gap: 20px;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}
.hamburger i {
  font-size: 1.5rem;
  cursor: pointer;
}
.footer {
  width: fit-content;
  padding: 40px;
  margin: auto;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.footer > div {
  background-color: #ffffff56;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  gap: 20px;
}
.footer > div > div {
  height: 200px;
  width: 400px;
  background:
    radial-gradient(
      ellipse at bottom left,
      rgba(255, 0, 98, 0.8) 0%,
      rgba(255, 0, 98, 0.3) 35%,
      transparent 65%
    ),
    radial-gradient(
      ellipse at top right,
      rgba(106, 13, 173, 0.7) 0%,
      rgba(106, 13, 173, 0.25) 40%,
      transparent 70%
    ),
    #140812;
  border-radius: 10px;
}
.hero-image {
  width: 800px;
  height: 800px;
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.content {
  margin-left: 80px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.content > .first {
  width: 500px;
  margin: -50px 0px;
}
.content > .first > img {
  mix-blend-mode: lighten;
}
.content > .second {
  text-align: center;
}
.content > .third {
  display: flex;
  gap: 20px;
}
.content > .third > p {
  border: 2px solid rgb(146, 0, 0);
  padding: 10px 20px;
  border-radius: 10px;
}
.content > .third > p:first-child {
  background-color: rgb(146, 0, 0);
}
