* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #faf5ec;
  font-family: "Poppins", sans-serif;
}
.brdr {
  border: 1px solid red;
}
.container {
  max-width: 1600px;
  margin: auto;
  padding: 30px 10px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  transform: rotate(-5deg);
  font-size: 40px;
  color: #000;
}
nav .nav-links {
  display: flex;
  gap: 20px;
}
nav .nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  line-height: 1;
}
nav .nav-links a.active {
  color: #3c6d4e;
}
nav .nav-links a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #3c6d4e;
  bottom: -10px;
  left: 0;
  display: none;
}
nav .nav-links a.active::before {
  display: block;
}
nav .nav-links a::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #3c6d4e;
  border: 3px solid #faf5ec;
  bottom: -10px;
  transform: translate(-50%, 35%);
  left: 50%;
  display: none;
}
nav .nav-links a.active::after {
  display: block;
}
nav .search-bar-cart {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 2px solid #ccc;
  border-radius: 25px;
  padding: 10px 20px;
  position: relative;
}
nav .search-bar-cart input {
  all: unset;
  font-size: 16px;
  width: 250px;
}
nav .search-bar-cart i {
  font-size: 22px;
  cursor: pointer;
}
nav .search-bar-cart i:first-child {
  color: #eab96a;
}
nav .search-bar-cart i:last-child {
  border-left: 2px solid #000;
  padding-left: 10px;
}
nav .search-bar-cart .cart-count {
  background-color: rgb(211, 39, 39);
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(-50%, -50%);
}
section {
  display: flex;
  padding: 40px 50px !important;
}
section > div {
  flex: 1;
}
section .left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section .left > div:first-child {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 3px 10px;
  background-color: #304b390a;
  color: #398154;
  border: 1px solid #3c6d4e;
  border-radius: 25px;
  font-size: 0.8rem;
}
section .left > div:first-child p.title {
  text-transform: uppercase;
  font-weight: 500;
}
.left > p.title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 5rem;
  line-height: 1;
}
.left > p.title > span {
  color: #3c6d4e;
}
.left > p.subtitle {
  color: #6d735d;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5;
  width: 60%;
}
.left .buttons {
  display: flex;
  gap: 80px;
}
.left .buttons .add-to-cart {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #000;
  padding: 5px 20px 5px 5px;
  border-radius: 50px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  height: fit-content;
}
.left .buttons .add-to-cart p {
  text-transform: uppercase;
  padding: 0 10px;
}
.left .buttons .add-to-cart .icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eab96a;
  color: #000;
  padding: 10px;
  border-radius: 50%;
}
.left .buttons .add-to-cart .icon i {
  font-size: 1.5rem;
}
.left .buttons .quantity {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.left .buttons .quantity p {
  padding: 5px 20px;
}
.left .buttons .quantity p:nth-child(2) {
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  color: crimson;
  font-weight: 600;
  font-size: 1.2rem;
}
.left .buttons .quantity p i {
  padding: 0px;
}
.left .specs {
  display: flex;
  gap: 20px;
}
.left .specs > div {
  display: flex;
  gap: 10px;
}
.left .specs > div > div:first-child {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #398154;
  border: 2px solid #398154;
  border-radius: 50%;
}
.left .specs > div > div:first-child i {
  font-size: 1.5rem;
}
.left .specs > div:nth-child(2) > div:first-child {
  color: #ffa136;
  border: 2px solid #ffa136;
}
.left .specs > div:nth-child(3) > div:first-child {
  color: #ff3668;
  border: 2px solid #ff3668;
}
.left .specs p {
  margin-top: -5px;
  color: #6d6d6d;
}
.right {
  display: flex;
}
.right > .first {
  flex: 2;
}
.right > .second {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.right > .second > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.right .second > div > div:nth-child(2) {
  flex: 4;
}
.right > .second > div > div:first-child {
  background-color: #3c6d4e;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex: 1;
}
.right > .second > div:nth-child(2) > div:first-child {
  background-color: #ffc400;
}
.right > .second > div:nth-child(3) > div:first-child {
  background-color: #ff3668;
}
h4 {
  text-transform: uppercase;
}
.right .second > div p {
  font-size: 0.9rem;
  color: #6d6d6d;
  width: 100%;
}
.right .first {
  position: relative;
}
.right .first > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  height: 120%;
  rotate: -6deg;
  transform-origin: center;
  z-index: 9;
}
.right .first img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  mix-blend-mode: multiply;
}
footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  background-color: #3c6d4e;
  border-radius: 45px;
}
footer > div:first-child {
  flex: 1;
}
footer > .varient {
  flex: 5;
  display: flex;
  justify-content: space-around;
}
footer > .varient > div {
  width: 340px;
  height: 180px;
  background-color: #faf5ec;
  border-radius: 25px;
  display: flex;
}
footer > .varient > div > div {
  flex: 1;
  height: 100%;
}
footer > .varient > div > .left {
  position: relative;
}
footer > .varient > div > .left img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  mix-blend-mode: multiply;
}
footer > .varient > div > .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
footer > .varient > div > .right > div {
  display: flex;
  align-items: center;
}
footer > .varient > div > .right {
}
.order-now-btn {
  all: unset;
  background-color: #ff3668;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}
footer > div:first-child {
  padding: 20px;
}
h3 {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.2;
}
footer > div:first-child > .buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
footer > div:first-child > .buttons div {
  all: unset;
  background-color: #fff;
  color: #3c6d4e;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
